@media screen and (max-width: 768px) {
    .mobile-font {
        font-size: xx-large;
    }

    .mobile-font p {
        font-size: x-large;
    }

    .mobile-font #hashtag {
        font-size: large;
    }
}
